[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/plugins/zsh-autocomplete"]
	path = zsh/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "zsh_codex"]
	path = zsh_codex
	url = https://github.com/tom-doerr/zsh_codex.git
[submodule "zsh/plugins/zsh_codex"]
	path = zsh/plugins/zsh_codex
	url = https://github.com/tom-doerr/zsh_codex.git
