[Unit]
Description=Monthly Snapshots
Wants=timer-monthly.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/zfs-snapshot.rb -r -s data -k 31 -p monthly -S "-%%b"

[Install]
WantedBy=timer-monthly.target
