[Unit]
Description=Daily Snapshots
Wants=timer-daily.timer

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/zfs-snapshot.rb -s data/music -k 7 -p daily "-%a-%m-%d"

[Install]
WantedBy=timer-daily.target
