[Unit]
Description=Daily Snapshots
Wants=timer-daily.timer

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/zfs-snapshot.rb -s data -k 7 -p daily -S "-%%b%%d"

[Install]
WantedBy=timer-daily.target
