
define service{
  use                 generic-service
  hostgroup_name      web-servers
  service_description HTTP Port 80
  check_command       check_http_host
}

define service{
  use      generic-service  ; Inherit values from a template
  hostgroup_name    switches
  service_description  PING    ; The service description
  check_command    check_ping!200.0,20%!600.0,60%  ; The command used to monitor the service
  normal_check_interval  5    ; Check the service every 5 minutes under normal conditions
  retry_check_interval  1    ; Re-check the service every minute until its final/hard state is determined
}


# Monitor uptime via SNMP

define service{
  use      generic-service
  hostgroup_name    switches
  service_description  SNMP Uptime
  check_command    check_snmp!-C public -o sysUpTime.0
}


# disabling, too noisy with WRN3500L
##define service{
##  use      generic-service
##  hostgroup_name    switches
##  service_description  lo Link Status
##  check_command    check_snmp!-C public -o ifOperStatus.1 -r 1 -m RFC1213-MIB
##  normal_check_interval  5
##  retry_check_interval  1
##}
##define service{
##  use      generic-service
##  hostgroup_name        switches
##  service_description  br0 WAN Link Status
##  check_command    check_snmp!-C public -o ifOperStatus.8 -r 1 -m RFC1213-MIB
##  normal_check_interval  5
##  retry_check_interval  1
##}
#define service{
#  use      generic-service
#  hostgroup_name        switches
#  service_description  vlan2 Link Status
#  check_command    check_snmp!-C public -o ifOperStatus.7 -r 1 -m RFC1213-MIB
#}



# Monitor bandwidth via MRTG logs

#define service{
#use      generic-service  ; Inherit values from a template
#hostgroup_name    switches
#service_description  Port 1 Bandwidth Usage
#check_command    check_local_mrtgtraf!/var/lib/mrtg/192.168.1.253_1.log!AVG!1000000,1000000!5000000,5000000!10
#}

define service{
  use                     local-service
    hostgroup_name        linux-servers
    service_description   Ping
    check_command         check_ping!100.0,20%!500.0,60%
}

define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             Disk usage: /
    check_command                   check_local_disk!40%!20%!/
}
define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             Disk usage ZFS: /data
    check_command                   check_local_disk!40%!20%!/data
}
define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             Disk usage ZFS: /data/apps
    check_command                   check_local_disk!40%!20%!/data/apps
}
define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             Disk usage ZFS: /data/docs
    check_command                   check_local_disk!40%!20%!/data/docs
}
define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             Disk usage ZFS: /data/download
    check_command                   check_local_disk!40%!20%!/data/download
}
define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             Disk usage ZFS: /data/movies
    check_command                   check_local_disk!40%!20%!/data/movies
}
define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             Disk usage ZFS: /data/photos
    check_command                   check_local_disk!40%!20%!/data/photos
}
define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             Disk usage ZFS: /data/sync
    check_command                   check_local_disk!40%!20%!/data/sync
}
define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             Disk usage ZFS: /data/tvshows
    check_command                   check_local_disk!40%!20%!/data/tvshows
}

define service{
  use                             local-service         ; Name of service template to use
    hostgroup_name                  local-linux-servers
    service_description             Current Users
    check_command      check_local_users!20!50
}


define service{
  use                             local-service         ; Name of service template to use
    hostgroup_name                  local-linux-servers
    service_description             Total Processes
    check_command      check_local_procs!250!400!RSZDT
}



# Define a service to check the load on the local machine. 

define service{
  use                             local-service         ; Name of service template to use
    hostgroup_name                  local-linux-servers
    service_description             Current Load
    check_command      check_local_load!7.0,5.0,4.0!12.0,8.0,6.0
}




define service{
  use                             local-service         ; Name of service template to use
    hostgroup_name                  linux-servers
    service_description             SSH
    check_command      check_ssh
    notifications_enabled    1
}



# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.

define service{
  use                             local-service         ; Name of service template to use
    hostgroup_name                  nas-servers
    service_description             HTTP
    check_command      check_http
    notifications_enabled    1
}

define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             SMART Health: /dev/sda
    check_command      check_smart!/dev/sda
    notifications_enabled    1
}

define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             SMART Health: /dev/sdb
    check_command      check_smart!/dev/sdb
    notifications_enabled    1
}

define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             SMART Health: /dev/sdc
    check_command      check_smart!/dev/sdc
    notifications_enabled    1
}

define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             SMART Health: /dev/sdd
    check_command      check_smart!/dev/sdd
    notifications_enabled    1
}

define service{
  use                             local-service
    hostgroup_name                  local-linux-servers
    service_description             Free memory
    check_command      check_mem!70!80
    notifications_enabled    1
}
define service{
  use                             local-service
    hostgroup_name                  local-linux-servers
    service_description             Sensors
    check_command      check_sensors
    notifications_enabled    1
}
define service{
  use                             local-service
    hostgroup_name                  local-linux-servers
    service_description             NTP
    check_command      check_ntp
    notifications_enabled    1
}
define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             ZFS: Data Zpool
    check_command        check_zfs!data!3
    notifications_enabled      1
}

define service{
  use                     local-service
    hostgroup_name        linux-servers
    service_description   Ping
    check_command         check_ping!100.0,20%!500.0,60%
}

define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             Disk usage: /
    check_command                   check_local_disk!40%!20%!/
}
define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             Disk usage ZFS: /data
    check_command                   check_local_disk!40%!20%!/data
}
define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             Disk usage ZFS: /data/apps
    check_command                   check_local_disk!40%!20%!/data/apps
}
define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             Disk usage ZFS: /data/docs
    check_command                   check_local_disk!40%!20%!/data/docs
}
define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             Disk usage ZFS: /data/download
    check_command                   check_local_disk!40%!20%!/data/download
}
define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             Disk usage ZFS: /data/movies
    check_command                   check_local_disk!40%!20%!/data/movies
}
define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             Disk usage ZFS: /data/photos
    check_command                   check_local_disk!40%!20%!/data/photos
}
define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             Disk usage ZFS: /data/sync
    check_command                   check_local_disk!40%!20%!/data/sync
}
define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             Disk usage ZFS: /data/tvshows
    check_command                   check_local_disk!40%!20%!/data/tvshows
}

define service{
  use                             local-service         ; Name of service template to use
    hostgroup_name                  local-linux-servers
    service_description             Current Users
    check_command      check_local_users!20!50
}


define service{
  use                             local-service         ; Name of service template to use
    hostgroup_name                  local-linux-servers
    service_description             Total Processes
    check_command      check_local_procs!250!400!RSZDT
}

define service{
  use                             local-service         ; Name of service template to use
    hostgroup_name                  local-linux-servers
    service_description             Current Load
    check_command      check_local_load!7.0,5.0,4.0!12.0,8.0,6.0
}




define service{
  use                             local-service         ; Name of service template to use
    hostgroup_name                  linux-servers
    service_description             SSH
    check_command      check_ssh
    notifications_enabled    1
}



define service{
  use                             local-service         ; Name of service template to use
    hostgroup_name                  nas-servers
    service_description             HTTP
    check_command      check_http
    notifications_enabled    1
}

define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             SMART Health: /dev/sda
    check_command      check_smart!/dev/sda
    notifications_enabled    1
}

define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             SMART Health: /dev/sdb
    check_command      check_smart!/dev/sdb
    notifications_enabled    1
}

define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             SMART Health: /dev/sdc
    check_command      check_smart!/dev/sdc
    notifications_enabled    1
}

define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             SMART Health: /dev/sdd
    check_command      check_smart!/dev/sdd
    notifications_enabled    1
}

define service{
  use                             local-service
    hostgroup_name                  local-linux-servers
    service_description             Free memory
    check_command      check_mem!70!80
    notifications_enabled    1
}
define service{
  use                             local-service
    hostgroup_name                  local-linux-servers
    service_description             Sensors
    check_command      check_sensors
    notifications_enabled    1
}
define service{
  use                             local-service
    hostgroup_name                  local-linux-servers
    service_description             NTP
    check_command      check_ntp
    notifications_enabled    1
}
define service{
  use                             local-service
    hostgroup_name                  nas-servers
    service_description             ZFS: Data Zpool
    check_command        check_zfs!data!3
    notifications_enabled      1
}


define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Mount: /data/apps
  check_command             check_local_service!data-apps.mount
  notifications_enabled      1
}
define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Mount: /data
  check_command             check_local_service!data.mount
  notifications_enabled      1
}
define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Mount: /data/backup
  check_command             check_local_service!data-backup.mount
  notifications_enabled      1
}

define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Mount: /data/docs
  check_command             check_local_service!data-docs.mount
  notifications_enabled      1
}
define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Mount: /data/download
  check_command             check_local_service!data-download.mount
  notifications_enabled      1
}
define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Mount: /data/movies
  check_command             check_local_service!data-movies.mount
  notifications_enabled      1
}
define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Mount: /data/music
  check_command             check_local_service!data-music.mount
  notifications_enabled      1
}
define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Mount: /data/photos
  check_command             check_local_service!data-photos.mount
  notifications_enabled      1
}
define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Mount: /data/sync
  check_command             check_local_service!data-sync.mount
  notifications_enabled      1
}
define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Mount: /data/tvshows
  check_command             check_local_service!data-tvshows.mount
  notifications_enabled      1
}
define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Mount: /mnt/backup3t
  check_command             check_local_service!mnt-backup3t.mount
  notifications_enabled     1
}
define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Service: btsync@gabe
  check_command             check_local_service!btsync@gabe.service
  notifications_enabled     1
}
define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Service: mt-daapd
  check_command             check_local_service!mt-daapd.service
  notifications_enabled     1
}
define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Service: nginx
  check_command             check_local_service!nginx.service
  notifications_enabled     1
}
define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Service: ZFS
  check_command             check_local_service!zfs.service
  notifications_enabled     1
}
define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Service: Transmission
  check_command             check_local_service!transmission.service
  notifications_enabled     1
}
define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Service: Postfix
  check_command             check_local_service!postfix.service
  notifications_enabled     1
}

## backup and snapshot checks
define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Backups: ZFS
  check_command             check_local_service!zfs-backup.service
  notifications_enabled     1
}
define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Snapshots: Daily
  check_command             check_local_service!snapshot-daily.service
  notifications_enabled     1
}
define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Snapshots: Weekly
  check_command             check_local_service!snapshot-weekly.service
  notifications_enabled     1
}
define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Snapshots: Monthly
  check_command             check_local_service!snapshot-monthly.service
  notifications_enabled     1
}
define service{
  use                       local-service
  hostgroup_name            nas-servers
  service_description       Snapshots: Expiration
  check_command             check_local_service!snapshot-expire.service
  notifications_enabled     1
}

