[Desktop Entry]
GenericName[zh_CN]=色温调节
Comment[fr]=Outil de réglage de la température de couleur
Comment[cs]=Nástroj pro přizpůsobení barevné teploty
Type=Application
Comment[ru]=Инструмент регулирования цветовой температуры
GenericName[es]=Ajuste de la temperatura de color
GenericName[da]=Justering af farvetemperatur
GenericName[nl]=Kleurtemperatuur aanpassing
Terminal=false
Comment[nl]=Kleurtemperatuur aanpassingsprogramma
GenericName[de]=Farbtemperatur Anpassung
GenericName[hu]=Szín hőmérséklet beállítás
Comment[lt]=Spalvos temperatūros reguliavimo įrankis
Icon=redshift
Comment[hu]=Színhőmérséklet beállító eszköz
Name[ru]=Redshift
GenericName[tr]=Renk sıcaklığı ayarı
GenericName=Color temperature adjustment
GenericName[cs]=Přizpůsobení barevné teploty
Hidden=false
Name[it]=Redshift
Name=Redshift
Name[es]=Redshift
Comment[tr]=Renk sıcaklığı ayarlama aracı
GenericName[fr]=Réglage de la température de couleur
Name[pl]=Redshift
Name[tr]=Redshift
Categories=Utility;
Name[de]=Redshift
GenericName[ru]=Настройка цветовой температуры
Name[hu]=Redshift
X-GNOME-Autostart-enabled=true
Name[zh_CN]=红移
Comment[es]=Herramienta para el ajuste de la temperatura de color
GenericName[pl]=Dostosowanie temperatury barwowej
Comment[it]=Strumento per la regolazione della temperatura del colore
Name[lt]=Redshift
Comment[da]=Justeringsværktøj for farvetemperatur
Name[fr]=Redshift
StartupNotify=true
Comment[de]=Farbtemperatur Anpassungswerkzeug
Version=1.0
GenericName[lt]=Spalvos temperatūros reguliavimas
Comment[pl]=Narzędzie do dostosowywania temperatury barwowej
Comment[zh_CN]=色温调节工具
Name[pt_BR]=Redshift
Comment=Color temperature adjustment tool
Exec=redshift-gtk
GenericName[it]=Regolazione della temperatura del colore

