[Unit]
Description=Nginx Proxy
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill nginx
ExecStartPre=-/usr/bin/docker rm nginx
ExecStartPre=/usr/bin/docker pull nginx:1.9
ExecStart=/usr/bin/docker run --name nginx -v /etc/nginx/htpasswd:/etc/nginx/.htpasswd:ro -v /etc/letsencrypt:/etc/letsencrypt:ro -v /srv/www:/srv:ro -v /etc/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro -v /etc/nginx/site.conf:/etc/nginx/conf.d/site.conf:ro --net=host nginx:1.9
ExecStop=/usr/bin/docker stop nginx
ExecReload=/usr/bin/docker restart nginx

[Install]
WantedBy=multi-user.target
