[Desktop Entry]
Type=Application
Name=Resilio Sync
Exec=/usr/bin/rslsync --config /home/gabe/.config/rslsync/rslsync.conf
X-GNOME-Autostart-enabled=true
Comment=Resilio Sync rslsync (gabe)
