[Desktop Entry]
Type=Application
Exec=rslsync --config /home/gabe/.config/rslsync.conf
X-GNOME-Autostart-enabled=true
Name=Resilio Sync
Comment=Resilio Sync daemon (gabe)
